                                <i className={props.comments ? "fa fa-comments": ""}></i><span className="data"><a href="#comments">3 Comments</a></span>
                    <aside className="social-icons clearfix">
                        <h3>Share on </h3>
                        <a href="#"><i className="fa fa-facebook"></i></a> <a href="#"><i className="fa fa-twitter"></i></a> <a href="#"><i className="fa fa-google"></i></a>
                    </aside>

                    <aside className="comments" id="comments">

                        <h2><i className="fa fa-comments"></i> 6 Comments</h2>

                        <article className="comment">
                            <header className="clearfix">
                                <img src="{{url_for('static', filename='img/avatar.png')}}" alt="A Smart Guy" className="avatar"/>
                                <div className="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span className="date">
                                        24 August 2015
                                    </span>
                                    <span className="separator">
                                        -
                                    </span>

                                    <a href="#create-comment" className="reply-link">Reply</a>
                                </div>
                            </header>
                             <div className="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>
                    </aside>

                    <aside className="create-comment" id="create-comment">

                        <h2><i className="fa fa-pencil"></i> Add Comment</h2>

                        <form action="#" method="get" accept-charset="utf-8">
                            <div className="row">
                                <div className="col-md-6">
                                    <input type="text" name="name" id="comment-name" placeholder="Your Name" className="form-control input-lg"/>
                                </div>
                                <div className="col-md-6">
                                    <input type="email" name="email" id="comment-email" placeholder="Email" className="form-control input-lg"/>
                                </div>
                            </div>

                            <input type="url" name="name" id="comment-url" placeholder="Website" className="form-control input-lg"/>

                            <textarea rows="10" name="message" id="comment-body" placeholder="Your Message" className="form-control input-lg"></textarea>

                            <div className="buttons clearfix">
                                <button type="submit" className="btn btn-xlarge btn-clean-one">Submit</button>
                            </div>
                        </form>
                    </aside>