[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
aiohttp = "*"
apistellar = {editable = true,path = "./../apistellar"}
pytest-apistellar = ">=0.1.8"

[packages]
pytz = "*"
html2text = "*"
aiofiles = "*"
Markdown = "*"
WeasyPrint = "*"
apistellar = ">=1.1.23"

[requires]
python_version = "3.6"
