[Unit]
# 描述
Description=uwsgi
# 在哪个程序之后启动
After=network.target
# 依赖哪个程序
Wants=network.target
[Service]
Environment=PASSWORD=12345
Environment=USERNAME=test
Type=simple
# 执行命令
ExecStart=/home/pi/.pyenv/shims/uwsgi --http 0.0.0.0:3031 --wsgi-file /home/pi/blog/start.py --master --processes 2 --threads 2 --stats 127.0.0.1:9191 --callable app
ExecStop=/home/pi/blog/tools/stop.py -c uwsgi -s 9
StandardOutput=uwsgi
StandardError=uwsgi
[Install]
WantedBy=multi-user.target
